body {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 600px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#authorizationDiv {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    margin-left: 20px;
    max-width: 400px;
}

#authorizationInfo {
    font-size: 20px;
}

.form-row {
    display: grid;
    grid-template-columns: 80px 200px;
    margin-bottom: 5px;
    align-items: center;
}

#authorizationDiv label {
    width: 80px;
    font-size: 18px;
}

#authorizationDiv input {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color;
}

#authorizationDiv button {
    padding: 5px 10px;
    font-size: 16px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}
#authorizationDiv button:hover {
    background: white;
    color: black;
}

#fileUploadForm {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    margin-left: 20px;
    max-width: 400px;
}

#fileInput {
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 16px;
}

#fileUploadForm button {
    padding: 5px 10px;
    font-size: 16px;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}
#fileUploadForm button:hover {
    background: white;
    color: black;
}

#filesDiv {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    margin-left: 20px;
    max-width: 550px;
}

#filesDiv h3 {
    padding-left: 25px;
}

#filesList li {
    margin: 5px;
    margin-right: 25px;
    padding: 5px;
    border: 2px solid #000000;
}